doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title webapp
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
    link(rel='stylesheet', href='/bower_components/milligram/dist/milligram.css')   
    link(rel='stylesheet', href='/bower_components/modaal/dist/css/modaal.css')   
    // endbower
    // endbuild

    // build:css styles/main.css

    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    .container
      .main
        block content
      .sidbar
        block sidebar
        

    include ../modals/modal.pug
    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/modaal/dist/js/modaal.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js

    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild